configparser==3.7.4
cycler==0.10.0
jsonschema==3.0.1
kiwisolver==1.1.0
matplotlib==3.0.3
numpy==1.16.3
pandas==0.24.2
Pillow==6.2.0
pyparsing==2.4.0
pyrsistent==0.15.2
pyserial==3.4
python-dateutil==2.8.0
pytz==2019.1
six==1.12.0
wincertstore==0.2
wxPython==4.0.6
dotmap
scipy==1.3.0